---
import Layout from "@/layouts/Layout.astro";
import Hero from "@/components/Hero.astro";
import Header from "@/components/Header.astro";
import Featured from "@/components/Featured.astro";
---

<Layout title="Rabii Luena | Home">
  <Header>
    <Hero />
  </Header>
  <main>
    <Featured />
  </main>
</Layout>
