---
import Wrapper from "@/components/Wrapper.astro";
import Link from "@/components/ui/Link.astro";
---

<footer class="bg-slate-900 text-white py-12">
  <Wrapper>
    <div class="space-y-2">
      <p class="text-sm font-medium">
        © {new Date().getFullYear()} Rabii Luena. All rights reserved.
      </p>
      <div class="flex items-baseline gap-3 text-sm">
        <Link
          href="https://linkedin.com/in/rbluena"
          target="_blank"
          rel="noopener noreferrer"
          size="sm"
        >
          LinkedIn
        </Link>
        <Link
          href="https://github.com/rbluena"
          target="_blank"
          rel="noopener noreferrer"
          size="sm"
        >
          GitHub
        </Link>
      </div>
    </div>
  </Wrapper>
</footer>
