---
import cn from "classnames";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
  size?: "sm" | "md" | "lg";
  href: string;
}

const { href, size = "md", ...props } = Astro.props;
---

<a
  href={href}
  class={cn("hover:via-violet-600 px-0 flex items-center gap-x-1", {
    "text-md": size === "md",
    "text-sm": size === "sm",
    "text-lg": size === "lg",
  })}
  {...props}
>
  <slot />
</a>
